Proxy not valid through Ingress

After installing the chart with the configuration of `ingress.hosts`, I got `404` and the following error message when accessing the `http://www.bing.com` with the proxy：
```
{
    "message": "no Route matched with those values"
}
```

I guess the `Ingress` withnin the chart only support getting homepage of the `squid`.

Am I right?
Thanks in advance!

Hello @will-beta, I'm sorry but could you write in English so I could understand the issue ?

@mtparet Thanks for your reply! I've modified the issue content.

I installed the squid chart in my kubernetes, but I got a lots of `NONE/000 0 NONE error:transaction-end-before-headers - HIER_NONE/- -`.
And I try to using it as a forward proxy, but failed.

```bash
$ curl -x squid.proxy.server:80 -v https://ipinfo.io

* Rebuilt URL to: https://ipinfo.io/
*   Trying 192.168.101.112...
* TCP_NODELAY set
* Connected to proxy.cht.larvata (192.168.101.112) port 80 (#0)
* allocate connect buffer!
* Establish HTTP proxy tunnel to ipinfo.io:443
> CONNECT ipinfo.io:443 HTTP/1.1
> Host: ipinfo.io:443
> User-Agent: curl/7.58.0
> Proxy-Connection: Keep-Alive
>
< HTTP/1.1 404 Not Found
< Content-Type: text/plain; charset=utf-8
< X-Content-Type-Options: nosniff
< Date: Tue, 14 Apr 2020 15:47:35 GMT
< Content-Length: 19
<

* Received HTTP code 404 from proxy after CONNECT
* CONNECT phase completed!
* Closing connection 0
curl: (56) Received HTTP code 404 from proxy after CONNECT
```

Here is my config in values.yml:

```
config: |
  acl localnet src 0.0.0.1-0.255.255.255  # RFC 1122 "this" network (LAN)
  acl localnet src 10.0.0.0/8             # RFC 1918 local private network (LAN)
  acl localnet src 100.64.0.0/10          # RFC 6598 shared address space (CGN)
  acl localnet src 169.254.0.0/16         # RFC 3927 link-local (directly plugged) machines
  acl localnet src 172.16.0.0/12          # RFC 1918 local private network (LAN)
  acl localnet src 192.168.0.0/16         # RFC 1918 local private network (LAN)
  acl localnet src fc00::/7               # RFC 4193 local private network range
  acl localnet src fe80::/10              # RFC 4291 link-local (directly plugged) machines

  acl SSL_ports port 443
  acl Safe_ports port 80		# http
  acl Safe_ports port 21		# ftp
  acl Safe_ports port 443		# https
  acl Safe_ports port 70		# gopher
  acl Safe_ports port 210		# wais
  acl Safe_ports port 1025-65535	# unregistered ports
  acl Safe_ports port 280		# http-mgmt
  acl Safe_ports port 488		# gss-http
  acl Safe_ports port 591		# filemaker
  acl Safe_ports port 777		# multiling http
  acl CONNECT method CONNECT

  # Recommended minimum Access Permission configuration:
  #
  # Deny requests to certain unsafe ports
  http_access deny !Safe_ports

  # Only allow cachemgr access from localhost
  http_access allow localhost manager
  http_access deny manager

  http_access deny to_localhost

  http_access allow localnet
  http_access allow localhost

  # Squid normally listens to port 3128
  http_port 3128

  # Uncomment and adjust the following to add a disk cache directory.
  #cache_dir ufs /var/cache/squid 4096 16 256

  # Leave coredumps in the first cache dir
  coredump_dir /var/cache/squid

  #
  # Add any of your own refresh_pattern entries above these.
  #
  refresh_pattern ^ftp:		1440	20%	10080
  refresh_pattern ^gopher:	1440	0%	1440
  refresh_pattern -i (/cgi-bin/|\?) 0	0%	0
  refresh_pattern .		0	20%	4320

  # Do not display squid version
  httpd_suppress_version_string on

```

I thought the squid just not work with traefik ingress ....

Indeed we are exposing it with a service Loadbalancer but not behind an ingress. We should this possible configuration and link to documentation on ingress controller explaining how to achieve this https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/

@zx1986 have been able to solve your issue ?

I met similar issue, squid does not work with traefik ingress